@import "../../App.css";

.profile-frame {
    height: 400px;
    width: 300px;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    overflow: hidden;
}

.profile-img {
    width: 100%;
}