* {
    box-sizing: border-box;
}

img {
    max-width: 30%;
}

h1 {
    font-size: 14pt;
}

p {
    font-size: 9pt;
}

section {
    margin-top: 1rem;
 }

 /* Utility classes */
.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container + div h3 {
    font-size: 16pt;
}

.flex-container + div p {
    font-size: 11pt;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.gap1 {
    gap:1rem;
 }

 .width-100 {
    width: 100%;
 }
 
 .center-text {
    text-align: center;
 }

 .width-25 {
    width: 25%;
 }

 /* Featured articles */
 .featured-article {
    padding: 0.5rem;
 }

 .featured-article__content {
    background-color: burlywood;
    padding: 0.5rem;
 }








