@import "../../App.css";

.card {
    width: 500px;
    max-width: 100%;
    height: 350px;
    border: 1px solid hsl(var(--clr-secondary));
    border-radius: 12px;
    overflow: hidden;
    color: hsl(var(--clr-lite));
    background-color: hsl(var(--clr-dark));
    box-shadow: 0 1px 3px hsl(var(--clr-primary)), 0 1px 2px hsl(var(--clr-secondary));
    transition: all 300ms;
  }
  
.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 1px 3px hsl(var(--clr-primary)), 0 5px 5px hsl(var(--clr-secondary));
}

.card__img {
    width: 100%;
    height: auto;
}
  
.card__content {
    width: 100%;
    height: auto;
  }
  
.card__title,
.card__desc {
    margin: 0;
}

.card__desc {
    font-size: 12px;
    margin-bottom: 4px;
}

.card__title {
    font-size: 17px;
}

.card__btn {
    height: 40px;
}
  