@import "../../App.css";

.custom-alert {
    width: 350px;
    max-width: 75%;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.close-btn:hover {
    opacity: 0.8;
}

div[type="error"] {
    background-color: hsl(var(--error-color), 0.5);
    border-color: hsl(var(--error-color));
}

div[type="success"] {
    background-color: hsl(var(--success-color), 0.5);
    border-color: hsl(var(--success-color));
}