@import "../../App.css";

.nav {
    text-align: center;
    font-weight: 600;
}

.nav * {
    box-sizing: border-box;
    transition: all .35s ease;
}

.nav a {
    padding: .5em .8em;
    color: hsl(var(--clr-lite));
    position: relative;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav a::before,
.nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid hsl(var(--clr-primary));
    border-right: 3px solid hsl(var(--clr-primary));
    transform: translate(-100%, 50%);
}

.nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid hsl(var(--clr-primary));
    border-left: 3px solid hsl(var(--clr-primary));
    transform: translate(100%, -50%);
}

.nav a:hover:before,
.nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
}

.nav a:hover {
    color: hsl(var(--clr-primary)) !important;
}
/* 
.nav_link {
    transition:  0.2s ease-in-out;
} 

.nav_link:hover {
    scale: 1.05;
} */

.nav_toggle {
    border: none;
    color: hsl(var(--clr-lite)) !important;
}

.social-icon a {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    line-height: 1;
    border: 1px solid hsl(var(--clr-lite));
}

.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    color: hsl(var(--clr-dark));
    background-color: hsl(var(--clr-primary));
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
