@import "../../App.css";

nav a {
    color: hsl(var(--primary-color));
}

nav a:hover {
    color: hsl(var(--primary-color), 0.726) !important;
}

.nav_toggle {
    border: none;
    color: var(--text-color-lite) !important;
}